body {
    margin: auto;
    /*max-width: 1080px;*/
    /*font-size: 12px;*/
    /*font-family: Helvetica, Arial, sans-serif;*/
}

.avatar {
    width: 40px;
}

/*nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}*/

.alert {
    position: relative;
    padding: 7px;
    margin: 7px 0;
    border: 1px solid transparent;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 5px;
}

/*input[type=submit] {
    font-family: inherit;
}

input[type=text] {
    border: 1px solid #ddd;
}

input[name=year] {
    width: 50px;
}*/

/*.btn {
    font-size: 12px;
    padding: 3px 5px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid #555555;
    border-radius: 5px;
}

.btn:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid black;
}*/

.movie-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.movie-list li {
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
}

.movie-list li:last-child {
    border-bottom: none;
}

.movie-list li:hover {
    background-color: #f8f9fa;
}

.float-right {
    float: right;
}

.inline-form {
    display: inline;
}


.totoro {
    display: block;
    margin: 0 auto;
    height: 100px;
}

footer {
    color: #888;
    margin-top: 15px;
    text-align: center;
    width: 100%;
    padding: 5px;
}

/* {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    width: 100%;
    font-family: "微软雅黑";
    font-size: 12px;
    padding: 0;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 4.5px 9px;
}

th {
    background-color: rgb(235, 235, 235);
    text-align: center;
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
    background-color: rgb(245, 245, 245);
}

.centertable {
    margin: 12px auto;

}
*/

.header {
    margin-top: 15px;
    margin-bottom: 15px;
    letter-spacing: .3em;
}

.table {
    margin-top: 12px;
    /*font-size: 14px;*/

}

.table th,
.table td {
    text-align: center;
    vertical-align: middle !important;
}

.query {
    margin: 0px auto 0px auto;
    text-align:right;
    float:right;
    margin-bottom: 14px;
}

/* Normal white .google as seen on Google.com*/
.google {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}

.google:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

.google:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;
}

/* Blue .google as seen on translate.google.com*/
.google.blue {
    color: white;
    background: #4C8FFB;
    border: 1px #3079ED solid;
    box-shadow: inset 0 1px 0 #80B0FB;
}

.google.blue:hover {
    border: 1px #2F5BB7 solid;
    box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
    background: #3F83F1;
}

.google.blue:active {
    box-shadow: inset 0 2px 5px #2370FE;
}

/* Orange .google as seen on blogger.com*/
.google.orange {
    color: white;
    border: 1px solid #FB8F3D;
    background: -webkit-linear-gradient(top, #FDA251, #FB8F3D);
    background: -moz-linear-gradient(top, #FDA251, #FB8F3D);
    background: -ms-linear-gradient(top, #FDA251, #FB8F3D);
}

.google.orange:hover {
    border: 1px solid #EB5200;
    background: -webkit-linear-gradient(top, #FD924C, #F9760B);
    background: -moz-linear-gradient(top, #FD924C, #F9760B);
    background: -ms-linear-gradient(top, #FD924C, #F9760B);
    box-shadow: 0 1px #EFEFEF;
}

.google.orange:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
}

/* Red Google .google as seen on drive.google.com */
.google.red {
    background: -webkit-linear-gradient(top, #DD4B39, #D14836);
    background: -moz-linear-gradient(top, #DD4B39, #D14836);
    background: -ms-linear-gradient(top, #DD4B39, #D14836);
    border: 1px solid #DD4B39;
    color: white;
    text-shadow: 0 1px 0 #C04131;
}

.google.red:hover {
    background: -webkit-linear-gradient(top, #DD4B39, #C53727);
    background: -moz-linear-gradient(top, #DD4B39, #C53727);
    background: -ms-linear-gradient(top, #DD4B39, #C53727);
    border: 1px solid #AF301F;
}

.google.red:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    background: -webkit-linear-gradient(top, #D74736, #AD2719);
    background: -moz-linear-gradient(top, #D74736, #AD2719);
    background: -ms-linear-gradient(top, #D74736, #AD2719);
}