{% extends 'base.html' %}

{% block content %}
    <h5 class="mb-3">修改记录</h5>
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="row">
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="order_number">派工单号</label>
                    <input type="text" class="form-control form-control-sm" id="order_number" name="order_number"
                           autocomplete="off"
                           required value="{{ order.order_number }}">
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="approval_number">审批编号</label>
                    <input type="text" class="form-control form-control-sm" id="approval_number" name="approval_number"
                           required
                           autocomplete="off" value="{{ order.approval_number }}">
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="product_category">产品型态</label>
                    <select class="form-control form-control-sm" name="product_category" id="product_category" required>
                        {% for opt in ['单相表','13版集中器','13版三相表','I型采集器','II型采集器','抄控器','09版三相表','09版集中器'] %}
                            {% if opt == order.product_category %}
                                <option selected>{{ opt }}</option>
                            {% else %}
                                <option>{{ opt }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="in_quantity">产出数量</label>
                    <input type="number" class="form-control form-control-sm" id="in_quantity" name="in_quantity"
                           autocomplete="off"
                           required value="{{ order.in_quantity }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="in_date">入库日期</label>
                    <input type="date" class="form-control form-control-sm" id="in_date" name="in_date" autocomplete="off"
                           required
                           value="{{ order.in_date }}">
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="in_operator">入库员工</label>
                    <input type="text" class="form-control form-control-sm" id="in_operator" name="in_operator"
                           autocomplete="off"
                           required value="{{ order.in_operator }}">
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="receive_operator">接收员工</label>
                    <input type="text" class="form-control form-control-sm" id="receive_operator" name="receive_operator"
                           autocomplete="off" required value="{{ order.receive_operator }}">
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="current_node">当前节点</label>
                    <select class="form-control form-control-sm" name="current_node" id="current_node" required>
                        {% for opt1 in ['备料','改造','升级','刻印','测试','包装','报检','入库','返工'] %}
                            {% if opt1 == order.current_node %}
                                <option selected>{{ opt1 }}</option>
                            {% else %}
                                <option>{{ opt1 }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="chip_solution">芯片方案</label>
                    <select class="form-control form-control-sm" name="chip_solution" id="chip_solution" required>
                        {% for opt2 in ['3105','3911','STKS_CCV1.31'] %}
                            {% if opt2 == order.chip_solution %}
                                <option selected>{{ opt2 }}</option>
                            {% else %}
                                <option>{{ opt2 }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="comment">补充说明</label>
                    <input type="text" class="form-control form-control-sm" id="comment" name="comment"
                           autocomplete="off"
                           value="{{ order.comment }}">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2">提交修改</button>
    </form>
{% endblock %}