{% extends 'base.html' %}

{% block content %}
    <h5 class="mb-3">修改记录</h5>
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="row">
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="WoNumber">派工单号</label>
                    <input type="text" class="form-control form-control-sm" id="WoNumber" name="WoNumber"
                           autocomplete="off"
                           required value="{{ movie.WoNumber }}">
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="ApprovalNumber">审批编号</label>
                    <input type="text" class="form-control form-control-sm" id="ApprovalNumber" name="ApprovalNumber"
                           required
                           autocomplete="off" value="{{ movie.ApprovalNumber }}">
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="ProductClass">产品型态</label>
                    <select class="form-control form-control-sm" name="ProductClass" id="ProductClass" required>
                        {% for opt in ['单相表','13版集中器','13版三相表','I型采集器','II型采集器','抄控器','09版三相表','09版集中器'] %}
                            {% if opt == movie.ProductClass %}
                                <option selected>{{ opt }}</option>
                            {% else %}
                                <option>{{ opt }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="InQuantity">产出数量</label>
                    <input type="number" class="form-control form-control-sm" id="InQuantity" name="InQuantity"
                           autocomplete="off"
                           required value="{{ movie.InQuantity }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="InDate">入库日期</label>
                    <input type="date" class="form-control form-control-sm" id="InDate" name="InDate" autocomplete="off"
                           required
                           value="{{ movie.InDate }}">
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="InOperator">入库员工</label>
                    <input type="text" class="form-control form-control-sm" id="InOperator" name="InOperator"
                           autocomplete="off"
                           required value="{{ movie.InOperator }}">
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="ReceiveOperator">接收员工</label>
                    <input type="text" class="form-control form-control-sm" id="ReceiveOperator" name="ReceiveOperator"
                           autocomplete="off" required value="{{ movie.ReceiveOperator }}">
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="CurrentNode">当前节点</label>
                    <select class="form-control form-control-sm" name="CurrentNode" id="CurrentNode" required>
                        {% for opt1 in ['备料','改造','升级','刻印','测试','包装','报检','入库','返工'] %}
                            {% if opt1 == movie.CurrentNode %}
                                <option selected>{{ opt1 }}</option>
                            {% else %}
                                <option>{{ opt1 }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="ChipSolution">芯片方案</label>
                    <select class="form-control form-control-sm" name="ChipSolution" id="ChipSolution" required>
                        {% for opt2 in ['3105','3911','STKS_CCV1.31'] %}
                            {% if opt2 == movie.ChipSolution %}
                                <option selected>{{ opt2 }}</option>
                            {% else %}
                                <option>{{ opt2 }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="Supplement">补充说明</label>
                    <input type="text" class="form-control form-control-sm" id="Supplement" name="Supplement"
                           autocomplete="off"
                           value="{{ movie.Supplement }}">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2">提交修改</button>
    </form>
{% endblock %}