{% extends 'base.html' %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h5 class="mb-3">录入工单</h5>
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="row">
                <div class="col-md-3 mb-2">
                    <div class="form-group">
                        <label for="order_number">派工单号</label>
                        <input type="text" class="form-control form-control-sm" placeholder="X2020开头" id="order_number"
                               name="order_number" autocomplete="off" required>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="form-group">
                        <label for="approval_number">审批编号</label>
                        <input type="text" class="form-control form-control-sm" id="approval_number"
                               name="approval_number" required
                               placeholder="输入审批编号后6位" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="form-group">
                        <label for="product_category">产品型态</label>
                        <select class="form-control form-control-sm" name="product_category" id="product_category" required>
                            <option>单相表</option>
                            <option>13版三相表</option>
                            <option>13版集中器</option>
                            <option>I型采集器</option>
                            <option>II型采集器</option>
                            <option>抄控器</option>
                            <option>09版三相表</option>
                            <option>09版集中器</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="form-group">
                        <label for="in_quantity">产出数量</label>
                        <input type="number" class="form-control form-control-sm" placeholder="对应派工单需求数量"
                               id="in_quantity"
                               name="in_quantity" autocomplete="off" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-2">
                    <div class="form-group">
                        <label for="in_date">入库日期</label>
                        <input type="date" class="form-control form-control-sm" id="in_date" name="in_date"
                               autocomplete="off"
                               required>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="form-group">
                        <label for="in_operator">入库员工</label>
                        <input type="text" class="form-control form-control-sm" id="in_operator" name="in_operator"
                               autocomplete="off"
                               required value="李金华">
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="form-group">
                        <label for="receive_operator">接收员工</label>
                        <input type="text" class="form-control form-control-sm" id="receive_operator"
                               name="receive_operator"
                               autocomplete="off" required value="健仕达">
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="form-group">
                        <label for="current_node">当前节点</label>
                        <select class="form-control form-control-sm" name="current_node" id="current_node" required>
                            <option>备料</option>
                            <option>改造</option>
                            <option>升级</option>
                            <option>刻印</option>
                            <option>测试</option>
                            <option>包装</option>
                            <option>报检</option>
                            <option selected>入库</option>
                            <option>返工</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-2">
                    <div class="form-group">
                        <label for="chip_solution">芯片方案</label>
                        <select class="form-control form-control-sm" name="chip_solution" id="chip_solution" required>
                            <option>3105</option>
                            <option>3911</option>
                            <option>STKS_CCV1.31</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="form-group">
                        <label for="comment">补充说明</label>
                        <input type="text" class="form-control form-control-sm" placeholder="根据实际情况选填"
                               id="comment"
                               name="comment" autocomplete="off">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-2">新增</button>
        </form>
    {% endif %}
    <div>
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th>派工单号</th>
                <th>审批编号</th>
                <th>产品形态</th>
                <th>产出数量</th>
                <th>入库日期</th>
                <th>入库员工</th>
                <th>接收员工</th>
                <th>当前节点</th>
                <th>芯片方案</th>
                <th>补充说明</th>
                {% if current_user.is_authenticated %}
                    <th>操作</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.order_number }}</td>
                    <td>{{ order.approval_number }}</td>
                    <td>{{ order.product_category }}</td>
                    <td>{{ order.in_quantity }}</td>
                    <td>{{ order.in_date }}</td>
                    <td>{{ order.in_operator }}</td>
                    <td>{{ order.receive_operator }}</td>
                    <td>{{ order.current_node }}</td>
                    <td>{{ order.chip_solution }}</td>
                    <td>{{ order.comment }}</td>
                    {% if current_user.is_authenticated %}
                        <td><a class="btn btn-success btn-sm" href="{{ url_for('edit', order_id=order.Id) }}">修改</a>

                            <form class="inline-form" method="post" action="{{ url_for('delete', order_id=order.Id) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <input type="submit" class="btn btn-danger btn-sm" name="delete" value="删除"
                                       onclick="return confirm('你确认删除吗?')">
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% from 'bootstrap/pagination.html' import render_pagination %}
    {% if orders %}
        <div>{{ render_pagination(pagination=pagination,align='center') }}</div>
    {% endif %}
    <!--<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro~">-->
    <script>
        let defaultDate = document.querySelectorAll('#in_date');
        for (let i = 0; i < defaultDate.length; i++) {
            defaultDate[i].valueAsDate = new Date();
        }
    </script>
{% endblock %}
{% block footer_content %}
    {{ super() }}
    {% if current_user.is_authenticated %}
        <span class="float-right">
    <a href="#" title="返回顶部">返回顶部</a>
</span>
    {% endif %}
{% endblock %}