{% extends 'base.html' %}

{% block content %}
    <div style="margin-bottom: 10px;"><a href="{{ url_for('index') }}">&larr; 返回</a></div>
    <h5><strong>{{ keyword }}</strong>的搜索结果为：</h5>
    <div>
        <table class="table table-sm table-hover">
            <thead class="thead-light">
            <tr>
                <th>派工单号</th>
                <th>审批编号</th>
                <th>产品形态</th>
                <th>产出数量</th>
                <th>入库日期</th>
                <th>入库员工</th>
                <th>接收员工</th>
                <th>当前节点</th>
                <th>芯片方案</th>
                <th>补充说明</th>
                {% if current_user.is_authenticated %}
                    <th>操作</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.order_number }}</td>
                    <td>{{ order.approval_number }}</td>
                    <td>{{ order.product_category }}</td>
                    <td>{{ order.in_quantity }}</td>
                    <td>{{ order.in_date }}</td>
                    <td>{{ order.in_operator }}</td>
                    <td>{{ order.receive_operator }}</td>
                    <td>{{ order.current_node }}</td>
                    <td>{{ order.chip_solution }}</td>
                    <td>{{ order.comment }}</td>
                    {% if current_user.is_authenticated %}
                        <td><a class="btn btn-success btn-sm"
                               href="{{ url_for('edit', order_id=order.Id) }}">修改</a>
                            <form class="inline-form" method="post"
                                  action="{{ url_for('delete', order_id=order.Id) }}">
                                <input type="submit" class="btn btn-danger btn-sm" name="delete" value="删除"
                                       onclick="return confirm('你确认删除吗?')">
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% from 'bootstrap/pagination.html' import render_pagination %}
    <div>{{ render_pagination(pagination=pagination,align='center') }}</div>
{% endblock %}